<div class="jumbotron">
    <h1>Productos</h1>
    {{#if hayProductos}}

    <ul>
        {{each productos}}
        <li>item: {{this.nombreProd}}</li>
        {{/each}}
    </ul>

    {{else}}
    aqui no hay nada para ver..
    {{/endif}}
    <br>
</div>
<a href="cargaProductos">Ir a carga de Productos</a>